/* * {
  border: 1px solid lightblue;
} */
body {
  background: #282a3f;
  color: white;
  font-family: Varela Round;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: lightblue;
}

a:visited {
  color: #89a1ce;
}

.lata {
  list-style-type: none;
}

.greeting {
  color: grey;
  font-size: 1em;
}

.title1{
  font-size: 3em;
  text-align: center
}

.title2{
  font-size: 1.25em;
  text-align: center
}

.title3{
  font-size: 1em;
  text-align: center
}

.container-image{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.image{
  width: 150px;
  height: 150px;
  background-color: white;
}

img {
  max-height: 100%;
  max-width: 100%;
}
